<style>
    .responsive-image {
        height: auto;
        width: 100%;
    }
</style>

<div class="text-center">
    <h2 class="display-4">Products Catalog</h2>
    <img src="~/Images/catalogue.png" height="400" width="500" alt="Null"/>

</div>

